#primeiradiv {
    background-color: aqua;
    height: 100px;
    width: 400px;
}

#pri-paragrafo-seg-div{
    background-color: pink;
    height: 100px;
    width: 400px;
}

#pri-paragrafo-ter-div {
    background-color: chartreuse;
    height: 100px;
    width: 400px;
}


body {
    background-color: grey;
}